# Virtual Environment
venv/
.env


# Python cache
__pycache__/
*.pyc

# MacOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# ML Models (optional)
*.pt
*.pth
*.h5